<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2 mb-5">
                <h3 class="mb-5 mt-5">Create A New Listing</h3>

                <form class="mb-5 needs-validation" method="POST" action="/listings" enctype="multipart/form-data" novalidate>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" placeholder="Enter Title" class="form-control" required>
                        <div class="invalid-feedback">
                            Please fill a title.
                          </div>
                          
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" name="listing[description]" placeholder="Enter description"
                            class="form-control" required></textarea>
                            <div class="invalid-feedback">
                                Please fill a description.
                              </div>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="image" class="form-label">Image Link</label>
                        <input type="text" name="listing[image]" placeholder="Enter Image Url" class="form-control">
                    </div> -->
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image</label>
                        <input type="file" name="listing[image]" class="form-control" required>
                    </div>
                    <div class="row">

                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="text" name="listing[price]" placeholder="1200" class="form-control" required>
                            <div class="invalid-feedback">
                                Please fill a price.
                              </div>
                        </div>
                    
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                            <div class="invalid-feedback">
                                Please fill a country.
                              </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="Jaipur, Rajasthan" class="form-control" required>
                        <div class="invalid-feedback">
                            Please fill a location.
                          </div>
                        
                    </div>


                    <button class="btn btn-dark add-btn">Add Listing</button>

                </form>
            </div>
        </div>

    </body>

    </html>